<div class="row">
  <div class="span3">
    <% if @link.editable_by?(current_user) %>
    <div class="row">
      <div class="span1 offset2">
        <%= link_to '修改', edit_link_path(@link) ,class: 'btn btn-block' %>
        <%= link_to '刪除', link_path(@link),class: 'btn btn-block',method: 'delete' ,confirm: 'Are you sure?'  %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render partial: 'links/link_preview',  locals: {link: @link} %>


</div>

<hr></hr>
<div class="row">
  <div class="span8 offset2" style="background-color:#f1f1f1">
    <textarea id="aaa" style="display:none"><%= @link.summary %></textarea>
    <div id="bbb"></div>
  </div>
</div>

                  <script>
                  
                  function Editor(input, preview) {
                    this.update = function () {
                      preview.innerHTML = markdown.toHTML(input.value);
                    };
                    input.editor = this;
                    this.update();
                  }
                  var $ = function (id) { return document.getElementById(id); };
                  new Editor($("aaa"), $("bbb"));
                  </script>

                </div>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "links" %>
<% end %>
