<div class="row">
  <div class="span3">
    <% if @link.editable_by?(current_user) %>
    <div class="row">
      <div class="span1 offset2">
        <%= link_to '修改', edit_link_path(@link) ,class: 'btn btn-block' %>
        <%= link_to '刪除', link_path(@link),class: 'btn btn-block',method: 'delete' ,confirm: 'Are you sure?'  %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render partial: 'links/link_preview',  locals: {link: @link} %>
</div>

<hr></hr>
<div class="row">
  <div class="span10 offset1 markdown-bg">
    <div class="row">
      <div class="span8 offset1">
        <textarea id="originText" style="display:none"><%= @link.summary %></textarea>
        <div id="markdownText"></div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
jQuery(document).ready(function($){

  $("#markdownText").html(marked($("#originText").val()));
});
</script>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag "links" %>
<% end %>
